<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link th:href="@{/resources/css/login.css}" rel="stylesheet"/>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>

<div class="wrapper fadeInDown">
  <div id="formContent">
  
  	<div class="fadeIn first">
    </div>
    
    <div th:classappend="${loginError} ? 'alert alert-danger' : ''">
    	<p th:if="${loginError}" class="error">Usuario o Password inv&aacute;lido</p>
    </div>

    <!-- Login Form -->
    <form th:action="@{/login}" method="POST">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Ingresar">
    </form>

  </div>
</div>
</body>
</html>